#SUPABASE
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DOCUMENTS_BUCKET=documents
SUPABASE_OAUTH_REDIRECT_TO=

#GOOGLE ONE TAP
PUBLIC_GOOGLE_CLIENT_ID=

#STRIPE
STRIPE_SECRET_KEY=
PUBLIC_STRIPE_PUBLISHABLE_KEY=

#PDF-GENERATOR
RENDER_SERVER_URL=
API_KEY=

#ODOO
ODOO_HOST_URL=
ODOO_BASE_API_URL=
ODOO_DB=
ODOO_USER=
ODOO_API_KEY=

#
SITE=

#SMTP
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_TLS_SERVERNAME=
EMAIL_FROM=
EMAIL_FROM_NAME=
