---

---

<div class="w-full flex justify-center items-center my-8">
	<div class="w-full lg:min-h-[700px] lg:flex lg:flex-col hidden">
		<div class="mt-16">
			<h3 class="text-white text-2xl">
				Inicie su empresa en EE. UU. en minutos.
			</h3>
			<p class="text-gray-500 w-3/4">
				Responda algunas preguntas para ayudarnos a formar su nueva empresa.
			</p>
		</div>
		<ol class="overflow-hidden space-y-8 w-full mt-8">
			<li
				class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[#8c681d] after:inline-block after:absolute after:-bottom-11 after:left-1/4"
			>
				<div class="flex items-center justify-center gap-8 w-full max-w-sm">
					<div
						class="flex items-center gap-3.5 bg-neutral-800 p-3.5 rounded-xl relative z-10 border border-[#8c681d] w-full"
					>
						<div
							class="rounded-lg bg-[#8c681d] flex items-center justify-center"
						>
							<span class="text-white p-3">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									><path
										fill="none"
										stroke="currentColor"
										stroke-linecap="square"
										stroke-width="2"
										d="M12 19V4.5h-.5L9.5 6"></path>
								</svg>
							</span>
						</div>
						<div class="flex items-start rounded-md justify-center flex-col">
							<h6 class="text-base font-semibold text-white mb-0.5">
								Tipo de empresa
							</h6>
							<p class="text-xs font-normal text-gray-400">
								Elige tu entidad comercial ¿No estás seguro? te ayudamos a
								elegir.
							</p>
						</div>
					</div>
					<li
						class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-gray-200 after:inline-block after:absolute after:-bottom-12 after:left-1/4"
					>
						<div class="flex items-center justify-center gap-8 w-full max-w-sm">
							<div
								class="flex items-center gap-3.5 bg-[#1d1d1d] p-3.5 rounded-xl relative z-10 border hover:border-[#8c681d] w-full border-transparent transition-all group"
							>
								<div
									class="rounded-lg bg-neutral-800 group-hover:bg-[#8c681d] flex items-center justify-center transition-all"
								>
									<span
										class="text-gray-600 p-3 group-hover:text-white transition-all"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											><path
												fill="none"
												stroke="currentColor"
												stroke-linecap="square"
												stroke-width="2"
												d="M16 19H8v-2.024a1 1 0 0 1 .37-.776l6.128-4.98A4.07 4.07 0 0 0 16 8.065V8a4 4 0 0 0-8 0"
											></path></svg
										>
									</span>
								</div>
								<div
									class="flex items-start rounded-md justify-center flex-col"
								>
									<h6
										class="text-base font-semibold text-gray-500 mb-0.5 group-hover:text-white transition-all"
									>
										Estado de registro
									</h6>
									<p
										class="text-xs font-normal text-gray-500 group-hover:text-gray-400 transition-all"
									>
										Elija su estado de registro
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="relative flex-1">
						<div class="flex items-center justify-center gap-8 w-full max-w-sm">
							<div
								class="flex items-center gap-3.5 bg-[#1d1d1d] p-3.5 rounded-xl relative z-10 border hover:border-[#8c681d] w-full border-transparent transition-all group"
							>
								<div
									class="rounded-lg bg-neutral-800 group-hover:bg-[#8c681d] flex items-center justify-center transition-all"
								>
									<span
										class="text-gray-600 p-3 group-hover:text-white transition-all"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											><path
												fill="none"
												stroke="currentColor"
												stroke-linecap="square"
												stroke-width="2"
												d="M8.5 5h7v1.5l-5 3.5v1H12a4 4 0 0 1 0 8h-.5a4 4 0 0 1-4-4"
											></path></svg
										>
									</span>
								</div>
								<div
									class="flex items-start rounded-md justify-center flex-col"
								>
									<h6
										class="text-base font-semibold text-gray-500 mb-0.5 group-hover:text-white transition-all"
									>
										Revisar y pagar
									</h6>
									<p
										class="text-xs font-normal text-gray-500 group-hover:text-gray-400 transition-all"
									>
										Una vez realizado el pago, comenzaremos a formar su nueva
										empresa
									</p>
								</div>
							</div>
						</div>
					</li>
				</div>
			</li>
		</ol>
		<div
			class="rounded-lg w-full flex justify-center flex-col items-center mt-16 h-full drop-shadow-xl place-self-center test bg-center bg-cover bg-neutral-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 backdrop-saturate-100 backdrop-contrast-100 py-20"
		>
			<div class="text-center pb-10">
				<h3 class="text-white text-3xl">Estructura de la empresa</h3>
				<p class="text-gray-400">
					Elija el tipo de entidad adecuada para su negocio.
				</p>
			</div>
			<div class="flex justify-center mb-3 w-full">
				<a
					href=""
					class="border border-[#8c681d] rounded-md p-5 text-white bg-[#1d1d1d] flex flex-col text-xl w-4/5 md:w-3/5 hover:bg-neutral-800 hover:border-[#8c681d]"
					>LLC <span class="text-sm text-gray-400 my-1"
						>Tarifas mínimas + privacidad y flexibilidad inigualables.</span
					></a
				>
			</div>
			<div class="flex justify-center mb-3 w-full">
				<a
					href=""
					class="border border-[#8c681d] rounded-md p-5 text-white bg-[#1d1d1d] flex flex-col text-xl w-4/5 md:w-3/5 hover:bg-neutral-800 hover:border-[#8c681d]"
					>C-corporation <span class="text-sm text-gray-400 my-1"
						>Ideal para startups que planean buscar financiación externa.</span
					></a
				>
			</div>
			<div class="flex justify-center mb-3 w-full">
				<button
					id="openBtn"
					class="border border-[#8c681d] rounded-md p-5 text-white bg-[#1d1d1d] flex flex-col text-xl w-4/5 md:w-3/5 hover:bg-neutral-800 hover:border-[#8c681d] text-left"
					>Ayúdame a elegir <span class="text-sm text-gray-400 my-1"
						>Agenda una consulta para obtener una recomendación personalizada</span
					></button
				>
			</div>
		</div>
	</div>
</div>

<!--Modal -->

<!-- Main modal -->
<div
	id="modalCard"
	aria-hidden="true"
	class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full bg-neutral-800 bg-opacity-70"
>
	<div class="relative p-4 w-full max-w-screen-lg">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow-sm dark:bg-[#1d1d1d]">
			<!-- Modal header -->
			<div
				class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600"
			>
				<button
					type="button"
					id="closeBtn"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
					data-modal-hide="static-modal"
				>
					<svg
						class="w-3 h-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 14 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div
				class="p-4 md:p-5 space-y-4 text-center flex-col justify-center items-center"
			>
				<h3
					class="text-3xl font-semibold text-gray-900 dark:text-white text-center w-3/5 mx-auto mb-10"
				>
					Encuentre el tipo de entidad adecuado para su negocio
				</h3>
				<p
					class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 w-3/5 mx-auto my-10 text-justify"
				>
					La elección de tu entidad legal es el primer gran paso. Evita riesgos
					fiscales y legales. Nuestros consultores te brindan una asesoría
					gratuita para identificar la mejor opción para tu negocio, asegurando
					un crecimiento sólido y protegido en EE. UU.
				</p>
				<div class="flex justify-center w-full h-full text-white mt-10">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="100"
						height="100"
						viewBox="0 0 24 24"
						><g fill="none"
							><path
								fill="currentColor"
								d="M2 9c0-1.886 0-2.828.586-3.414S4.114 5 6 5h12c1.886 0 2.828 0 3.414.586S22 7.114 22 9c0 .471 0 .707-.146.854C21.707 10 21.47 10 21 10H3c-.471 0-.707 0-.854-.146C2 9.707 2 9.47 2 9m0 9c0 1.886 0 2.828.586 3.414S4.114 22 6 22h12c1.886 0 2.828 0 3.414-.586S22 19.886 22 18v-5c0-.471 0-.707-.146-.854C21.707 12 21.47 12 21 12H3c-.471 0-.707 0-.854.146C2 12.293 2 12.53 2 13z"
							></path><path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-width="2"
								d="M7 3v3m10-3v3"></path></g
						></svg
					>
				</div>
			</div>
			<!-- Modal footer -->
			<div
				class="flex items-center p-4 md:p-5 rounded-b dark:border-gray-600 justify-center"
			>
				<a
					type="button"
					href=""
					class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#967432] dark:hover:bg-[#8c681d] dark:focus:ring-blue-800 w-3/5"
					>Agendar una cita</a
				>
			</div>

			<div class="h-[50px]"></div>
		</div>
	</div>
</div>

<script>
	const boton = document.getElementById('openBtn');
	const modal = document.getElementById('modalCard');
	const cerrar = document.getElementById('closeBtn');

	boton?.addEventListener('click', function () {
		modal?.classList.remove('hidden');
		modal?.classList.add('flex');
	});

	cerrar?.addEventListener('click', function () {
		modal?.classList.add('hidden');
		modal?.classList.remove('flex');
	});
</script>
