---

---

<!--Modal --><!-- Main modal -->
<div
	id="modalCard"
	aria-hidden="true"
	class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full bg-neutral-800 bg-opacity-70"
>
	<div class="relative p-4 w-full max-w-screen-lg">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow-sm dark:bg-neutral-800">
			<!-- Modal header -->
			<div
				class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600"
			>
				<button
					type="button"
					id="closeBtn"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
				>
					<svg
						class="w-3 h-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 14 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div
				class="p-4 md:p-5 space-y-4 text-center flex-col justify-center items-center"
			>
				<h3
					class="text-3xl font-semibold text-gray-900 dark:text-white text-center w-3/5 mx-auto mb-10"
				>
					Encuentre el tipo de entidad adecuado para su negocio
				</h3>
				<p
					class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 w-3/5 mx-auto my-10 text-justify"
				>
					La elección de tu entidad legal es el primer gran paso. Evita riesgos
					fiscales y legales. Nuestros consultores te brindan una asesoría
					gratuita para identificar la mejor opción para tu negocio, asegurando
					un crecimiento sólido y protegido en EE. UU.
				</p>
				<div class="flex justify-center w-full h-full text-white mt-10">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="100"
						height="100"
						viewBox="0 0 24 24"
						><g fill="none"
							><path
								fill="currentColor"
								d="M2 9c0-1.886 0-2.828.586-3.414S4.114 5 6 5h12c1.886 0 2.828 0 3.414.586S22 7.114 22 9c0 .471 0 .707-.146.854C21.707 10 21.47 10 21 10H3c-.471 0-.707 0-.854-.146C2 9.707 2 9.47 2 9m0 9c0 1.886 0 2.828.586 3.414S4.114 22 6 22h12c1.886 0 2.828 0 3.414-.586S22 19.886 22 18v-5c0-.471 0-.707-.146-.854C21.707 12 21.47 12 21 12H3c-.471 0-.707 0-.854.146C2 12.293 2 12.53 2 13z"
							></path><path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-width="2"
								d="M7 3v3m10-3v3"></path></g
						></svg
					>
				</div>
			</div>
			<!-- Modal footer -->
			<div
				class="flex items-center p-4 md:p-5 rounded-b dark:border-gray-600 justify-center"
			>
				<a
					type="button"
					href=""
					class="text-white focus:ring-4 focus:outline-none focus:ring-neutral-500 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-[#967432] dark:hover:bg-[#8c681d] dark:focus:ring-neutral-500 w-3/5"
					>Agendar una cita</a
				>
			</div>

			<div class="h-[50px]"></div>
		</div>
	</div>
</div>

<div class="w-full flex justify-center items-center my-8">
	<div class="w-full lg:min-h-[700px] lg:flex lg:flex-col hidden">
		<div class="mt-16">
			<h3 class="text-white text-2xl">
				Inicie su empresa en EE. UU. en minutos.
			</h3>
			<p class="text-gray-500 w-3/4">
				Responda algunas preguntas para ayudarnos a formar su nueva empresa.
			</p>
		</div>
		<ol class="overflow-hidden space-y-8 w-full mt-8">
			<li
				id="stepli-1"
				class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[#8c681d] after:inline-block after:absolute after:-bottom-11 after:left-1/4"
			>
				<button
					class="flex items-center justify-center gap-8 w-full max-w-sm"
					id="paso1btn"
				>
					<div
						id="stepdiv1-1"
						class="flex items-center gap-3.5 bg-neutral-800 p-3.5 rounded-xl relative z-10 border border-[#8c681d] w-full text-left"
					>
						<div
							id="stepdiv2-1"
							class="rounded-lg bg-[#8c681d] flex items-center justify-center"
						>
							<span id="stepspan-1" class="text-white p-3">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									><path
										fill="none"
										stroke="currentColor"
										stroke-linecap="square"
										stroke-width="2"
										d="M12 19V4.5h-.5L9.5 6"></path>
								</svg>
							</span>
						</div>
						<div class="flex items-start rounded-md justify-center flex-col">
							<h6
								id="steph6-1"
								class="text-base font-semibold text-white mb-0.5"
							>
								Tipo de empresa
							</h6>
							<p id="stepp-1" class="text-xs font-normal text-gray-400">
								Elige tu entidad comercial ¿No estás seguro? te ayudamos a
								elegir.
							</p>
						</div>
					</div>
				</button>
			</li>
			<li
				id="stepli-2"
				class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-gray-200 after:inline-block after:absolute after:-bottom-12 after:left-1/4"
			>
				<button
					class="flex items-center justify-center gap-8 w-full max-w-sm text-left"
					id="paso2btn"
				>
					<div
						id="stepdiv1-2"
						class="flex items-center gap-3.5 bg-[#1d1d1d] p-3.5 rounded-xl relative z-10 border hover:border-[#8c681d] w-full border-transparent transition-all group"
					>
						<div
							id="stepdiv2-2"
							class="rounded-lg bg-neutral-800 group-hover:bg-[#8c681d] flex items-center justify-center transition-all"
						>
							<span
								id="stepspan-2"
								class="text-gray-600 p-3 group-hover:text-white transition-all"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									><path
										fill="none"
										stroke="currentColor"
										stroke-linecap="square"
										stroke-width="2"
										d="M16 19H8v-2.024a1 1 0 0 1 .37-.776l6.128-4.98A4.07 4.07 0 0 0 16 8.065V8a4 4 0 0 0-8 0"
									></path></svg
								>
							</span>
						</div>
						<div class="flex items-start rounded-md justify-center flex-col">
							<h6
								id="steph6-2"
								class="text-base font-semibold text-gray-500 mb-0.5 group-hover:text-white transition-all"
							>
								Estado de registro
							</h6>
							<p
								id="stepp-2"
								class="text-xs font-normal text-gray-500 group-hover:text-gray-400 transition-all"
							>
								Elija su estado de registro
							</p>
						</div>
					</div>
				</button>
			</li>
			<li id="stepli-3" class="relative flex-1">
				<button
					class="flex items-center justify-center gap-8 w-full max-w-sm text-left"
					id="paso3btn"
				>
					<div
						id="stepdiv1-3"
						class="flex items-center gap-3.5 bg-[#1d1d1d] p-3.5 rounded-xl relative z-10 border hover:border-[#8c681d] w-full border-transparent transition-all group"
					>
						<div
							id="stepdiv2-3"
							class="rounded-lg bg-neutral-800 group-hover:bg-[#8c681d] flex items-center justify-center transition-all"
						>
							<span
								id="stepspan-3"
								class="text-gray-600 p-3 group-hover:text-white transition-all"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									><path
										fill="none"
										stroke="currentColor"
										stroke-linecap="square"
										stroke-width="2"
										d="M8.5 5h7v1.5l-5 3.5v1H12a4 4 0 0 1 0 8h-.5a4 4 0 0 1-4-4"
									></path></svg
								>
							</span>
						</div>
						<div class="flex items-start rounded-md justify-center flex-col">
							<h6
								id="steph6-3"
								class="text-base font-semibold text-gray-500 mb-0.5 group-hover:text-white transition-all"
							>
								Revisar y pagar
							</h6>
							<p
								id="stepp-3"
								class="text-xs font-normal text-gray-500 group-hover:text-gray-400 transition-all"
							>
								Una vez realizado el pago, comenzaremos a formar su nueva
								empresa
							</p>
						</div>
					</div>
				</button>
			</li>
		</ol>
	</div>
	<div
		class="rounded-lg w-full flex justify-center flex-col items-center mt-16 h-full drop-shadow-xl place-self-center test bg-center bg-cover bg-neutral-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 backdrop-saturate-100 backdrop-contrast-100 py-20"
	>
		<form action="" method="post">
			<div id="paso1">
				<div class="text-center pb-10">
					<h3 class="text-white text-3xl">Estructura de la empresa</h3>
					<p class="text-gray-400">
						Elija el tipo de entidad adecuada para su negocio.
					</p>
				</div>
				<ul class="grid w-full gap-6 place-items-center">
					<li class="md:w-3/5 w-4/5">
						<input
							type="radio"
							id="LLC_radio_btn"
							name="tipo_de_empresa"
							value="LLC"
							class="hidden peer"
							required
						/>
						<label
							for="LLC_radio_btn"
							class="inline-flex items-center justify-between w-full p-5 border rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 dark:peer-checked:text-[#8c681d] peer-checked:border-[#8c681d] dark:peer-checked:border-[#8c681d] peer-checked:text-[#8c681d] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-neutral-800 dark:hover:bg-[#1d1d1d] dark:peer-checked:bg-[#1d1d1d]"
						>
							<div class="block">
								<div class="w-full text-lg font-semibold">LLC</div>
								<div class="w-full text-sm">
									Tarifas mínimas + privacidad y flexibilidad inigualables.
								</div>
							</div>
							<svg
								class="w-5 h-5 ms-3 rtl:rotate-180"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 14 10"
							>
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M1 5h12m0 0L9 1m4 4L9 9"></path>
							</svg>
						</label>
					</li>
					<li class="md:w-3/5 w-4/5">
						<input
							type="radio"
							id="C_coorp_btn_radio"
							name="tipo_de_empresa"
							value="C-corporation"
							class="hidden peer"
						/>
						<label
							for="C_coorp_btn_radio"
							class="inline-flex items-center justify-between w-full p-5 border rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 dark:peer-checked:text-[#8c681d] peer-checked:border-[#8c681d] dark:peer-checked:border-[#8c681d] peer-checked:text-[#8c681d] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-neutral-800 dark:hover:bg-[#1d1d1d] dark:peer-checked:bg-[#1d1d1d]"
						>
							<div class="block">
								<div class="w-full text-lg font-semibold">C-corporation</div>
								<div class="w-full text-sm">
									Ideal para startups que planean buscar financiación externa.
								</div>
							</div>
							<svg
								class="w-5 h-5 ms-3 rtl:rotate-180"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 14 10"
							>
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M1 5h12m0 0L9 1m4 4L9 9"></path>
							</svg>
						</label>
					</li>
					<li class="md:w-3/5 w-4/5">
						<button
							id="openBtn"
							class="inline-flex items-center justify-between w-full p-5 border rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 dark:focus:text-[#8c681d] focus:border-[#8c681d] dark:focus:border-[#8c681d] focus:text-[#8c681d] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-neutral-800 dark:hover:bg-[#1d1d1d] dark:focus:bg-[#1d1d1d] text-left"
						>
							<div class="block">
								<div class="w-full text-lg font-semibold">Ayúdame a elegir</div>
								<div class="w-full text-sm">
									Responda nuestro cuestionario LLC vs. C Corp para obtener una
									recomendación personalizada.
								</div>
							</div>
							<svg
								class="w-5 h-5 ms-3 rtl:rotate-180"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 14 10"
							>
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M1 5h12m0 0L9 1m4 4L9 9"></path>
							</svg>
						</button>
					</li>
				</ul>
				<div class="w-full flex justify-center mt-8">
					<button
						type="button"
						id="continuarBtn"
						class="text-white bg-gradient-to-r from-[#8c681d] via-[#795918] to-[#5f4610] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-neutral-600 dark:focus:ring-neutral-500 shadow-lg shadow-[#c9972e]/50 dark:shadow-lg dark:shadow-[#c9972e]/50 font-medium rounded-lg md:text-lg px-5 py-2.5 text-center me-2 mb-2 md:w-3/5 w-4/5"
						>Continuar</button
					>
				</div>
			</div>
			<div id="paso2" class="hidden">
				<div class="text-center pb-10">
					<h3 class="text-white text-3xl">Elija el estado de registro</h3>
				</div>
				<ul class="grid w-full gap-6 place-items-center">
					<li class="md:w-3/5 w-4/5">
						<input
							type="radio"
							id="estado_empresa"
							name="estado_de_empresa"
							value="Delaware"
							class="hidden peer"
							required
						/>
						<label
							for="estado_empresa"
							class="inline-flex items-center justify-between w-full p-5 border rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 dark:peer-checked:text-[#8c681d] peer-checked:border-[#8c681d] dark:peer-checked:border-[#8c681d] peer-checked:text-[#8c681d] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-neutral-800 dark:hover:bg-[#1d1d1d] dark:peer-checked:bg-[#1d1d1d]"
						>
							<div class="block">
								<div class="w-full text-lg font-semibold">Delaware</div>
								<div class="w-full text-sm">
									Recomendado para corporaciones C debido a las sólidas
									protecciones legales para los accionistas y las rigurosas
									leyes comerciales. No paga impuesto estatal sobre la renta si
									opera en otros estados.
								</div>
							</div>
						</label>
					</li>
					<li class="md:w-3/5 w-4/5">
						<input
							type="radio"
							id="estado_empresa_Wyoming"
							name="estado_de_empresa"
							value="Wyoming"
							class="hidden peer"
						/>
						<label
							for="estado_empresa_Wyoming"
							class="inline-flex items-center justify-between w-full p-5 border rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 dark:peer-checked:text-[#8c681d] peer-checked:border-[#8c681d] dark:peer-checked:border-[#8c681d] peer-checked:text-[#8c681d] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-neutral-800 dark:hover:bg-[#1d1d1d] dark:peer-checked:bg-[#1d1d1d]"
						>
							<div class="block">
								<div class="w-full text-lg font-semibold">Wyoming</div>
								<div class="w-full text-sm">
									Recomendado para sociedades de responsabilidad limitada (LLC)
									por sus menores costos anuales y mayor flexibilidad. No hay
									impuesto sobre la renta corporativa ni impuesto anual de
									franquicia. Podemos constituir su empresa en cuestión de
									minutos.
								</div>
							</div>
						</label>
					</li>
					<li class="md:w-3/5 w-4/5">
						<input
							type="radio"
							id="estado_empresa_otros"
							name="estado_de_empresa"
							value="otros"
							class="hidden peer"
						/>
						<label
							id="btn-otros-estados"
							for="estado_empresa_otros"
							class="inline-flex items-center justify-between w-full p-5 border rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 dark:peer-checked:text-[#8c681d] peer-checked:border-[#8c681d] dark:peer-checked:border-[#8c681d] peer-checked:text-[#8c681d] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-neutral-800 dark:hover:bg-[#1d1d1d] dark:peer-checked:bg-[#1d1d1d]"
						>
							<div class="block">
								<div class="w-full text-lg font-semibold">Otro estado</div>
								<div class="w-full text-sm">Selecciona un estado</div>
							</div>
						</label>
						<div id="seleccionar" class="hidden mt-5">
							<select
								id="estados"
								name="estado_de_empresa"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-neutral-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							>
								<option value="Alabama">Alabama</option>
								<option value="Alaska">Alaska</option>
								<option value="Arizona">Arizona</option>
								<option value="Arkansas">Arkansas</option>
								<option value="California">California</option>
								<option value="Colorado">Colorado</option>
								<option value="Connecticut">Connecticut</option>
								<option value="District Of Columbia"
									>District Of Columbia</option
								>
								<option value="Florida">Florida</option>
								<option value="Georgia">Georgia</option>
								<option value="Hawaii">Hawaii</option>
								<option value="Idaho">Idaho</option>
								<option value="Illinois">Illinois</option>
								<option value="Indiana">Indiana</option>
								<option value="Iowa">Iowa</option>
								<option value="Kansas">Kansas</option>
								<option value="Kentucky">Kentucky</option>
								<option value="Louisiana">Louisiana</option>
								<option value="Maine">Maine</option>
								<option value="Maryland">Maryland</option>
								<option value="Massachusetts">Massachusetts</option>
								<option value="Michigan">Michigan</option>
								<option value="Minnesota">Minnesota</option>
								<option value="Mississippi">Mississippi</option>
								<option value="Missouri">Missouri</option>
								<option value="Montana">Montana</option>
								<option value="Nebraska">Nebraska</option>
								<option value="Nevada">Nevada</option>
								<option value="New Hampshire">New Hampshire</option>
								<option value="New Jersey">New Jersey</option>
								<option value="New Mexico">New Mexico</option>
								<option value="New York">New York</option>
								<option value="North Carolina">North Carolina</option>
								<option value="North Dakota">North Dakota</option>
								<option value="Ohio">Ohio</option>
								<option value="Oklahoma">Oklahoma</option>
								<option value="Oregon">Oregon</option>
								<option value="Pennsylvania">Pennsylvania</option>
								<option value="Rhode Island">Rhode Island</option>
								<option value="South Carolina">South Carolina</option>
								<option value="South Dakota">South Dakota</option>
								<option value="Tennessee">Tennessee</option>
								<option value="Texas">Texas</option>
								<option value="Utah">Utah</option>
								<option value="Vermont">Vermont</option>
								<option value="Virginia">Virginia</option>
								<option value="Washington">Washington</option>
								<option value="West Virginia">West Virginia</option>
								<option value="Wisconsin">Wisconsin</option>
								<option value="Wyoming">Wyoming</option>
							</select>
						</div>
					</li>
				</ul>
				<div class="w-full flex justify-center mt-8">
					<button
						type="button"
						id="continuarBtn"
						class="text-white bg-gradient-to-r from-[#8c681d] via-[#795918] to-[#5f4610] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-neutral-600 dark:focus:ring-neutral-500 shadow-lg shadow-[#c9972e]/50 dark:shadow-lg dark:shadow-[#c9972e]/50 font-medium rounded-lg md:text-lg px-5 py-2.5 text-center me-2 mb-2 md:w-3/5 w-4/5"
						>Continuar</button
					>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	const boton = document.getElementById('openBtn');
	const modal = document.getElementById('modalCard');
	const cerrar = document.getElementById('closeBtn');

	boton?.addEventListener('click', function () {
		modal?.classList.remove('hidden');
		modal?.classList.add('flex');
	});

	cerrar?.addEventListener('click', function () {
		modal?.classList.add('hidden');
		modal?.classList.remove('flex');
	});

	//logica del stepper
	let pasoActual = 0;

	// variables activas
	const activoli = [
		'relative',
		'flex-1',
		"after:content-['']",
		'after:w-0.5',
		'after:h-full',
		'after:bg-[#8c681d]',
		'after:inline-block',
		'after:absolute',
		'after:-bottom-11',
		'after:left-1/4',
	];
	const activodiv1 = [
		'flex',
		'items-center',
		'gap-3.5',
		'bg-neutral-800',
		'p-3.5',
		'rounded-xl',
		'relative',
		'z-10',
		'border',
		'border-[#8c681d]',
		'w-full',
	];
	const activodiv2 = [
		'rounded-lg',
		'bg-[#8c681d]',
		'flex',
		'items-center',
		'justify-center',
	];
	const activospan = ['text-white', 'p-3'];
	const activoh6 = ['text-base', 'font-semibold', 'text-white', 'mb-0.5'];
	const activop = ['text-xs', 'font-normal', 'text-gray-400'];

	// variables inactivas
	const inactivoli = [
		'relative',
		'flex-1',
		"after:content-['']",
		'after:w-0.5',
		'after:h-full',
		'after:bg-gray-200',
		'after:inline-block',
		'after:absolute',
		'after:-bottom-12',
		'after:left-1/4',
	];
	const inactivodiv1 = [
		'flex',
		'items-center',
		'gap-3.5',
		'bg-[#1d1d1d]',
		'p-3.5',
		'rounded-xl',
		'relative',
		'z-10',
		'border',
		'hover:border-[#8c681d]',
		'w-full',
		'border-transparent',
		'transition-all',
		'group',
	];
	const inactivodiv2 = [
		'rounded-lg',
		'bg-neutral-800',
		'group-hover:bg-[#8c681d]',
		'flex',
		'items-center',
		'justify-center',
		'transition-all',
	];
	const inactivospan = [
		'text-gray-600',
		'p-3',
		'group-hover:text-white',
		'transition-all',
	];
	const inactivoh6 = [
		'text-base',
		'font-semibold',
		'text-gray-500',
		'mb-0.5',
		'group-hover:text-white',
		'transition-all',
	];
	const inactivop = [
		'text-xs',
		'font-normal',
		'text-gray-500',
		'group-hover:text-gray-400',
		'transition-all',
	];

	//botones y elementos
	const botonstep1 = document.getElementById('paso1btn');
	const botonstep2 = document.getElementById('paso2btn');
	const botonstep3 = document.getElementById('paso3btn');

	const formstep1 = document.getElementById('paso1');
	const formstep2 = document.getElementById('paso2');

	const botonselect = document.getElementById('btn-otros-estados');
	const selecionador = document.getElementById('seleccionar');
	const radiowyoming = document.getElementById('estado_empresa_Wyoming');
	const radiodelawere = document.getElementById('estado_empresa');

	//elementos
	const elementos = [
		{
			li: document.getElementById('stepli-1'),
			div1: document.getElementById('stepdiv1-1'),
			div2: document.getElementById('stepdiv2-1'),
			span: document.getElementById('stepspan-1'),
			h6: document.getElementById('steph6-1'),
			p: document.getElementById('stepp-1'),
		},
		{
			li: document.getElementById('stepli-2'),
			div1: document.getElementById('stepdiv1-2'),
			div2: document.getElementById('stepdiv2-2'),
			span: document.getElementById('stepspan-2'),
			h6: document.getElementById('steph6-2'),
			p: document.getElementById('stepp-2'),
		},
		{
			li: document.getElementById('stepli-3'),
			div1: document.getElementById('stepdiv1-3'),
			div2: document.getElementById('stepdiv2-3'),
			span: document.getElementById('stepspan-3'),
			h6: document.getElementById('steph6-3'),
			p: document.getElementById('stepp-3'),
		},
	];

	function aplicarClases(elemento: HTMLElement | null, clases: string[]) {
		if (elemento) {
			elemento.classList.add(...clases);
		}
	}

	function removerClases(elemento: HTMLElement | null, clases: string[]) {
		if (elemento) {
			elemento.classList.remove(...clases);
		}
	}

	function activarPaso(pasoActivo: number) {
		pasoActual = pasoActivo;
		elementos.forEach((paso, index) => {
			const esActivo = index === pasoActivo;

			if (esActivo) {
				// Aplicar clases activas
				removerClases(paso.li, inactivoli);
				removerClases(paso.div1, inactivodiv1);
				removerClases(paso.div2, inactivodiv2);
				removerClases(paso.span, inactivospan);
				removerClases(paso.h6, inactivoh6);
				removerClases(paso.p, inactivop);

				aplicarClases(paso.li, activoli);
				aplicarClases(paso.div1, activodiv1);
				aplicarClases(paso.div2, activodiv2);
				aplicarClases(paso.span, activospan);
				aplicarClases(paso.h6, activoh6);
				aplicarClases(paso.p, activop);
			} else {
				// Aplicar clases inactivas
				removerClases(paso.li, activoli);
				removerClases(paso.div1, activodiv1);
				removerClases(paso.div2, activodiv2);
				removerClases(paso.span, activospan);
				removerClases(paso.h6, activoh6);
				removerClases(paso.p, activop);

				aplicarClases(paso.li, inactivoli);
				aplicarClases(paso.div1, inactivodiv1);
				aplicarClases(paso.div2, inactivodiv2);
				aplicarClases(paso.span, inactivospan);
				aplicarClases(paso.h6, inactivoh6);
				aplicarClases(paso.p, inactivop);
			}
		});
	}

	// eventos
	botonstep1?.addEventListener('click', () => activarPaso(0));
	botonstep2?.addEventListener('click', () => activarPaso(1));
	botonstep3?.addEventListener('click', () => activarPaso(2));

	const botonContinuar = document.getElementById('continuarBtn');
	botonContinuar?.addEventListener('click', function () {
		const siguientePaso = (pasoActual + 1) % elementos.length;
		activarPaso(siguientePaso);
		formstep1?.classList.add('hidden');
		formstep2?.classList.remove('hidden');
	});

	botonstep1?.addEventListener('click', function () {
		formstep1?.classList.remove('hidden');
		formstep2?.classList.add('hidden');
	});

	botonstep2?.addEventListener('click', function () {
		formstep1?.classList.add('hidden');
		formstep2?.classList.remove('hidden');
	});

	botonselect?.addEventListener('click', function () {
		selecionador?.classList.remove('hidden');
	});

	radiowyoming?.addEventListener('click', function () {
		selecionador?.remove();
	});

	radiodelawere?.addEventListener('click', function () {
		selecionador?.remove();
	});

	// Inicializar con el primer paso activo
	activarPaso(0);
</script>
