---
import imagenfondo from '../assets/background-dark.jpg'
---

<div class="w-full grid grid-cols-[auto,1fr] justify-center items-center">
	<div class="w-full min-h-[700px]">
		<div class="mt-5">
			<h3 class="text-white text-2xl">
				Inicie su empresa en EE. UU. en minutos.
			</h3>
			<p class="text-gray-500 w-3/4">
				Responda algunas preguntas para ayudarnos a formar su nueva empresa.
			</p>
		</div>
		<ol class="overflow-hidden space-y-8 w-full mt-8">
			<li
				class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[#8c681d] after:inline-block after:absolute after:-bottom-11 after:left-1/4"
			>
				<div class="flex items-center justify-center gap-8 w-full max-w-sm">
					<div
						class="flex items-center gap-3.5 bg-neutral-800 p-3.5 rounded-xl relative z-10 border border-[#8c681d] w-full"
					>
						<div
							class="rounded-lg bg-[#8c681d] flex items-center justify-center"
						>
							<span class="text-white p-3">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									><path
										fill="none"
										stroke="currentColor"
										stroke-linecap="square"
										stroke-width="2"
										d="M12 19V4.5h-.5L9.5 6"></path></svg
								>
							</span>
						</div>
						<div class="flex items-start rounded-md justify-center flex-col">
							<h6 class="text-base font-semibold text-white mb-0.5">
								Tipo de empresa
							</h6>
							<p class="text-xs font-normal text-gray-400">
								Elige tu entidad comercial ¿No estás seguro? te ayudamos a
								elegir.
							</p>
						</div>
					</div>
					<li
						class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-gray-200 after:inline-block after:absolute after:-bottom-12 after:left-1/4"
					>
						<div class="flex items-center justify-center gap-8 w-full max-w-sm">
							<div
								class="flex items-center gap-3.5 bg-[#1d1d1d] p-3.5 rounded-xl relative z-10 border hover:border-[#8c681d] w-full border-transparent transition-all group"
							>
								<div
									class="rounded-lg bg-neutral-800 group-hover:bg-[#8c681d] flex items-center justify-center transition-all"
								>
									<span
										class="text-gray-600 p-3 group-hover:text-white transition-all"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											><path
												fill="none"
												stroke="currentColor"
												stroke-linecap="square"
												stroke-width="2"
												d="M16 19H8v-2.024a1 1 0 0 1 .37-.776l6.128-4.98A4.07 4.07 0 0 0 16 8.065V8a4 4 0 0 0-8 0"
											></path></svg
										>
									</span>
								</div>
								<div
									class="flex items-start rounded-md justify-center flex-col"
								>
									<h6
										class="text-base font-semibold text-gray-500 mb-0.5 group-hover:text-white transition-all"
									>
										Estado de registro
									</h6>
									<p
										class="text-xs font-normal text-gray-500 group-hover:text-gray-400 transition-all"
									>
										Elija su estado de registro
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="relative flex-1">
						<div class="flex items-center justify-center gap-8 w-full max-w-sm">
							<div
								class="flex items-center gap-3.5 bg-[#1d1d1d] p-3.5 rounded-xl relative z-10 border hover:border-[#8c681d] w-full border-transparent transition-all group"
							>
								<div
									class="rounded-lg bg-neutral-800 group-hover:bg-[#8c681d] flex items-center justify-center transition-all"
								>
									<span
										class="text-gray-600 p-3 group-hover:text-white transition-all"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											><path
												fill="none"
												stroke="currentColor"
												stroke-linecap="square"
												stroke-width="2"
												d="M8.5 5h7v1.5l-5 3.5v1H12a4 4 0 0 1 0 8h-.5a4 4 0 0 1-4-4"
											></path></svg
										>
									</span>
								</div>
								<div
									class="flex items-start rounded-md justify-center flex-col"
								>
									<h6
										class="text-base font-semibold text-gray-500 mb-0.5 group-hover:text-white transition-all"
									>
										Revisar y pagar
									</h6>
									<p
										class="text-xs font-normal text-gray-500 group-hover:text-gray-400 transition-all"
									>
										Una vez realizado el pago, comenzaremos a formar su nueva
										empresa
									</p>
								</div>
							</div>
						</div>
					</li>
				</div>
			</li>
		</ol>
		<div
            class="bg-neutral-800 rounded-lg w-4/5 flex justify-center flex-col items-center mt-5 h-full drop-shadow-md place-self-center bg-opacity-90 test"
		>
			<div class="text-center pb-10">
				<h3 class="text-white text-3xl">Estructura de la empresa</h3>
				<p class="text-gray-400">
					Elija el tipo de entidad adecuada para su negocio.
				</p>
			</div>
			<div class="flex justify-center mb-3 w-full">
				<a
					href=""
					class="border border-[#8c681d] rounded-md p-5 text-white bg-[#1d1d1d] flex flex-col text-xl w-3/5 hover:bg-neutral-800 hover:border-[#8c681d]"
					>LLC <span class="text-sm text-gray-400 my-1"
						>Tarifas mínimas + privacidad y flexibilidad inigualables.</span
					></a
				>
			</div>
			<div class="flex justify-center mb-3 w-full">
				<a
					href=""
					class="border border-[#8c681d] rounded-md p-5 text-white bg-[#1d1d1d] flex flex-col text-xl w-3/5 hover:bg-neutral-800 hover:border-[#8c681d]"
					>C-corporation <span class="text-sm text-gray-400 my-1"
						>Ideal para startups que planean buscar financiación externa.</span
					></a
				>
			</div>
			<div class="flex justify-center mb-3 w-full">
				<button
					id="openBtn"
					class="border border-[#8c681d] rounded-md p-5 text-white bg-[#1d1d1d] flex flex-col text-xl w-3/5 hover:bg-neutral-800 hover:border-[#8c681d] text-left"
					>Ayúdame a elegir <span class="text-sm text-gray-400 my-1"
						>Agenda una consulta para obtener una recomendación personalizada</span
					></button
				>
			</div>
		</div>
	</div>
</div>

<!--Modal -->

<!-- Main modal -->
<div
	id="modalCard"
	aria-hidden="true"
	class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-3rem)] max-h-full bg-neutral-800 bg-opacity-70"
>
	<div class="relative p-4 w-full max-w-2xl max-h-full">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow-sm dark:bg-[#1d1d1d]">
			<!-- Modal header -->
			<div
				class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
			>
				<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
					Static modal
				</h3>
				<button
					type="button"
					id="closeBtn"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
					data-modal-hide="static-modal"
				>
					<svg
						class="w-3 h-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 14 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-4 md:p-5 space-y-4">
				<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
					With less than a month to go before the European Union enacts new
					consumer privacy laws for its citizens, companies around the world are
					updating their terms of service agreements to comply.
				</p>
				<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
					The European Union’s General Data Protection Regulation (G.D.P.R.)
					goes into effect on May 25 and is meant to ensure a common set of data
					rights in the European Union. It requires organizations to notify
					users as soon as possible of high-risk data breaches that could
					personally affect them.
				</p>
			</div>
			<!-- Modal footer -->
			<div
				class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
			>
				<button
					type="button"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>I accept</button
				>
				<button
					id="cerrar2"
					type="button"
					class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
					>Decline</button
				>
			</div>
		</div>
	</div>
</div>

<script>
	const boton = document.getElementById('openBtn');
	const modal = document.getElementById('modalCard');
	const cerrar = document.getElementById('closeBtn');
	const cerrar2 = document.getElementById('cerrar2');

	boton?.addEventListener('click', function () {
		modal?.classList.remove('hidden');
		modal?.classList.add('flex');
	});

	cerrar?.addEventListener('click', function () {
		modal?.classList.add('hidden');
		modal?.classList.remove('flex');
	});

	cerrar2?.addEventListener('click', function () {
		modal?.classList.add('hidden');
		modal?.classList.remove('flex');
	});
</script>

<style>
    .test{
        background-image: url(../assets/);
    }
</style>