<p class="my-10 text-sm text-center text-gray-500">
  &copy; 2025 - {new Date().getFullYear()} &mdash;
  <a
    href="https://sotomayorconsulting.com/inicio/"
    class="hover:underline"
    target="_blank"
  >
    Sotomayorconsulting.com
  </a>
  . All rights reserved.
</p>
