---
import { strictObject } from 'astro:schema';

// src/components/ImprimirArchivo.astro

interface Props {
	data: object | null | undefined;
	templateName?: string;
	reportName?: string;
}

const { data, templateName, reportName } = Astro.props;
const btnId = `btn-${crypto.randomUUID()}`;

---
<button
	id={btnId}
	class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
>
	Descargar contrato
</button>

<script define:vars={{ btnId, data, templateName, reportName }} is:inline>
	const btn = document.getElementById(btnId);
		btn.addEventListener('click', async () => {
			const originalText = btn.innerText;
			btn.innerText = "Generando contrato...";
			btn.disabled = true;
			try {
				const response = await fetch('../api/pdf/generar-pdf', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						data: data,
						templateName: templateName,
						reportName: reportName,
					}),
				});

				if (!response.ok) {
					const errorText = await response.text();
					throw new Error(errorText || 'Error en la generación');
				}

				// 4. Convertir respuesta a Blob
				const blob = await response.blob();

				// 5. Forzar descarga
				const url = window.URL.createObjectURL(blob);
				const a = document.createElement('a');
				a.href = url;
				a.download = `${reportName}.pdf`;
				document.body.appendChild(a);
				a.click();

				// Limpieza del DOM
				window.URL.revokeObjectURL(url);
				a.remove();

			} catch (error) {
				console.error('Error en el frontend:', error);
				alert('Hubo un error al generar el PDF. Revisa la consola.');
			} finally {
				btn.disabled = false;
				btn.innerText = originalText;
			}
		});
	
</script>
