---

---

<div class="mx-4 my-6">
	<h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
		Lista de nuestros servicios
	</h1>
</div>
<div
	class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-4 items-stretch pb-6 mb-6 border-b mx-4 mt-6"
	style="grid-auto-rows: minmax(110px, auto);"
>
	<a
		class="h-full"
		href="/dashboard/project/ceuofnjslxjoqtqxbfqt/integrations/cron/overview"
		><div
			class="overflow-hidden rounded-lg border bg-surface-100 text-card-foreground shadow-sm h-full"
		>
			<div
				class="w-full h-24 bg-surface-400 rounded-t-md flex items-center justify-center overflow-hidden relative"
			>
				<img
					alt="Cron integration"
					loading="lazy"
					decoding="async"
					data-nimg="fill"
					class="w-full h-full object-cover invert dark:invert-0"
					sizes="100vw"
					src="https://sotomayorconsulting.com/wp-content/uploads/elementor/thumbs/business-sales-consultant-discussing-in-data-documents-at-modern-office--r79ffa32natgi8s9luk89inx4rzdohvj0oum8djmtc.jpg"
					style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"
				/>
			</div><div class="border-b last:border-none p-6 px-4">
				<div
					class="flex-col justify-start items-center text-center gap-y-0.5 flex"
				>
					<h3>Cron</h3><p class="text-foreground-light text-sm">
						Schedule recurring Jobs in Postgres
					</p><div class="flex items-center gap-x-1 mt-4">
						<div
							class="inline-flex items-center rounded-full bg-opacity-10 bg-surface-200 text-foreground-light border border-strong px-2.5 py-0.5 text-xs"
							data-sentry-component="Badge"
							data-sentry-source-file="badge.tsx"
						>
							<span>Official</span>
						</div>
					</div>
				</div>
			</div>
		</div></a
	><a
		class="h-full"
		href="/dashboard/project/ceuofnjslxjoqtqxbfqt/integrations/queues/overview"
		><div
			class="overflow-hidden rounded-lg border bg-surface-100 text-card-foreground shadow-sm h-full"
		>
			<div
				class="w-full h-24 bg-surface-400 rounded-t-md flex items-center justify-center overflow-hidden relative"
			>
				<img
					alt="Queues integration"
					loading="lazy"
					decoding="async"
					data-nimg="fill"
					class="w-full h-full object-cover invert dark:invert-0"
					sizes="100vw"
					srcset="/dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=640&q=75 640w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=750&q=75 750w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=828&q=75 828w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=1080&q=75 1080w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=1200&q=75 1200w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=1920&q=75 1920w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=2048&q=75 2048w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=3840&q=75 3840w"
					src="/dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fqueues-cover.png&w=3840&q=75"
					style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"
				/>
			</div><div class="border-b last:border-none p-6 px-4">
				<div
					class="flex-col justify-start items-center text-center gap-y-0.5 flex"
				>
					<h3>Queues</h3><p class="text-foreground-light text-sm">
						Lightweight message queue in Postgres
					</p><div class="flex items-center gap-x-1 mt-4">
						<div
							class="inline-flex items-center rounded-full bg-opacity-10 bg-surface-200 text-foreground-light border border-strong px-2.5 py-0.5 text-xs"
							data-sentry-component="Badge"
							data-sentry-source-file="badge.tsx"
						>
							<span>Official</span>
						</div>
					</div>
				</div>
			</div>
		</div></a
	><a
		class="h-full"
		href="/dashboard/project/ceuofnjslxjoqtqxbfqt/integrations/stripe_wrapper/overview"
		><div
			class="overflow-hidden rounded-lg border bg-surface-100 text-card-foreground shadow-sm h-full"
		>
			<div
				class="w-full h-24 bg-surface-400 rounded-t-md flex items-center justify-center overflow-hidden relative"
			>
				<img
					alt="Stripe Wrapper integration"
					loading="lazy"
					decoding="async"
					data-nimg="fill"
					class="w-full h-full object-cover invert dark:invert-0"
					sizes="100vw"
					srcset="/dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=640&q=75 640w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=750&q=75 750w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=828&q=75 828w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=1080&q=75 1080w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=1200&q=75 1200w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=1920&q=75 1920w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=2048&q=75 2048w, /dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=3840&q=75 3840w"
					src="/dashboard/_next/image?url=%2Fdashboard%2Fimg%2Fintegrations%2Fcovers%2Fstripe-cover.png&w=3840&q=75"
					style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"
				/>
			</div><div class="border-b last:border-none p-6 px-4">
				<div
					class="flex-col justify-start items-center text-center gap-y-0.5 flex"
				>
					<h3>Stripe Wrapper</h3><p class="text-foreground-light text-sm">
						Payment processing and subscription management
					</p><div class="flex items-center gap-x-1 mt-4">
						<div
							class="inline-flex items-center rounded-full bg-opacity-10 bg-surface-200 text-foreground-light border border-strong px-2.5 py-0.5 text-xs"
							data-sentry-component="Badge"
							data-sentry-source-file="badge.tsx"
						>
							<span>Official</span>
						</div>
					</div>
				</div>
			</div>
		</div></a
	>
</div>
