---
import LayoutStacked from '../../../../app/LayoutStackedForms.astro';
import FormBasico from '../../../../modules/Form-test.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormBasico />
	</div>
</LayoutStacked>
